

.container {
    
}

.iconButton { 
    background-color: rgb(25, 118, 210) !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
    color: rgb(255, 255, 255) !important;
}

.iconButtonContainer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.iconButton:hover {
    color: white !important;
}